h1 {
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dropdown {
    position:relative;
    display:inline-block;
}

.dropbtn {
    background-color:#fff;
    font-size: 16px;
    padding: 8px 55px;
    border: 1px solid #2b2b2b;
    border-radius: 50px;
    cursor: dot;
    display: flex;
    align-items: center;
    gap: 5px;
}

.dropdown-content {
    display: none;
    position:absolute;
    background-color:#fff;
    min-width: 200px;
    box-shadow: 0px 8px 16px #2b2b2b(0,0,0,0,2);
    z-index: 2;
    border-radius: 12px;
}

.dropdown-content a {
    display: block;
    color: #2b2b2b;
    padding: 10px 25px;
    text-decoration: none;
    }

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #f1f1f1;
}